.link{
	text-decoration: none;
	color: #fff;
}
.link:hover{
	text-decoration: none;
	color: #fff;
}
.main-back{
	background-color: #29272A;
}
.bslogo{
	padding-top: 10em;
	margin-bottom: 5em;
}
.fb-like{
	margin-bottom: 1em;
}
